<div class="container-fluid row row-cols-md-2 p-2 g-3 justify-content-center">
    <div class="container col-md-6 col-12 text-center">
        <h1>Welcome</h1>
    </div>
    <div class="container card col-md-5 col-12 text-center justify-content-center">
        <div class="container-fluid">
            <%= image_tag 'DS_logo.svg', size: "400x200" %>
        </div>
        <strong>Quick Start</strong>
        <ol>
            <li>Search through items using the "Search Items" link above.</li>
            <li>Find an item you like? Sign in via the link in the navigation bar.</li>
            <li>Need to make an enquiry? Click on an item found in the search, then press the button "message seller".</li>
            <li>Ready to purchase? Select "Purchase" to be redirected to a secure Stripe checkout.</li>
            <li>After you've made your purchase, you may see your order through the "Orders" link in the top navigation.</li>
        </ol>
    </div>
</div>