<div class="container-fluid p-3">
    <%= link_to 'Back', inboxes_path , class: "float-right btn btn-danger m-1" %>

    <!-- Input Form -->
    <%= render 'messages/message_form' %>
    <br>

    <!-- Messages -->
    <div id="messages" data-inbox-id="<%=@inbox.id%>" class="container-fluid col-md-11 col-11 pt-4 m-0">
        <%# Turn this into a manual loop, calling the partial with a local variable of email %>
        <% @inbox.messages.includes(:user).sort {|m| -m.created_at.to_i}.each do |m| %>
            <%= render partial: 'messages/message', locals: {message: m} %>
        <% end %>
    </div>
</div>
